.overNav {
  top: 0;
  padding: 8px 5%;
  position: fixed;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: 'IBM Plex Sans', sans-serif;

  .nav-text {
    font-size: 1rem;
    font-weight: 300;
  }

  .avatar {
    cursor: pointer;
    margin-left: 12px;

    .account {
      position: relative;

      .popup-account {
        position: absolute;
        right: 0;
        background: white;
        border: 1px solid var(--color-gray);
        border-radius: 4px;
        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: 1rem;
            padding: 8px 12px;
            list-style: none;
            white-space: nowrap;
            border-bottom: 1px solid var(--color-gray);
            text-align: left;
          }
          li:hover {
            background: var(--color-gray);
          }
        }
        ul:not(:last-child){

        }

        //ul li {
        //    padding: 8px 12px;
        //    list-style: none;
        //}
      }
    }

  }
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-icon {
  font-size: 30px;
}

.left {
  margin-top: auto;
  margin-bottom: auto;
}

.left a {
  padding-left: 1px;
  background-image: linear-gradient(to right,
          #54b3d6,
          #54b3d6 50%,
          #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.left a:hover {
  background-position: 0;
  font-weight: bold;
}

.left:hover a > .dropdown-contentMan {
  display: block;
}

.left a:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.left a:hover::before {
  width: 100%;
}

.left button {
  font-size: 30px;
  display: none;
  margin-left: -1em;
  color: black;
}

.right {
  margin-top: auto;
  margin-bottom: auto;
}

.right a {
  padding-left: 1px;
  background-image: linear-gradient(to right,
          #54b3d6,
          #54b3d6 50%,
          #000 50%);
  color: black;
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.right a:hover {
  background-position: 0;
  font-weight: bold;
}

.right a:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.right a:hover::before {
  width: 100%;
}


.right #two {
  display: none;
  margin-right: -25px;
}

.right #four {
  display: none;
}

.dropdown-contentMan {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 40px;
  background: #f8f7f4;
  box-shadow: 0 1px 5px rgb(0 0 0 / 5%), 0 1px 5px rgb(0 0 0 / 5%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  z-index: 2;
  opacity: 1;
  transform: translateY(60px) translateZ(0px);
  overflow-x: auto;
}


.dropdown-detail {
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: flex-start;
  width: 100%;
  height: 352px;
}

.choiceDropDown {
  margin-left: 64.5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  .content {
    display: flex;

    &-image {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      width: 270px;
      height: 270px;
      background: none;
      opacity: 1;
      border: 0px;
      padding: 0 0px 0 0;
      margin: 0 60.4px 0 0;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0px;
      }
    }

    .by-now-button {
      background: var(--primary-color);
      color: var(--color-white);
    }
  }
}

.choiceDropDownChild1 {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 27.5px;
  -webkit-column-gap: 27.5px;
  column-gap: 27.5px;
  grid-row-gap: 30px;
  row-gap: 30px;
}

.choiceDropDownChild2 {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 27.5px;
  -webkit-column-gap: 27.5px;
  column-gap: 27.5px;
  grid-row-gap: 30px;
  row-gap: 30px;
}

.spanChild1 {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%
}

.linkChoice {
  width: 120px;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
  color: #161a21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-load-more {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: .02em;
    text-align: center;
  }
}

.linkChoiceViewAll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.linkChoice:hover {
  color: black;
  opacity: 1;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);

}

.imgChoice {
  width: 100px;
  height: 100px;
  background-color: #ecebea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.cart-icon {
  position: relative;

  .total-cart {
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 4px 8px;
    background: var(--primary-color);
    top: -10;
    right: 0;
    font-size: 1rem;
    color: white;
    border-radius: 50%;
  }
}

.titleChoice {
  margin-top: 12px;
  font-family: Copperplate;
  font-size: 14px;
  font-weight: lighter;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: center;
  color: #161a21;
  text-transform: uppercase;
}


.menuDropDown {
  padding-right: 64.5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-right: 1px solid rgba(22, 26, 33, .2);
  padding-top: 16px;
  padding-bottom: 16px;

  .menuDropDown-item {
    font-size: 32px;
    font-weight: 700;
    opacity: 0.4;
    text-transform: uppercase;
    line-height: 32px;
    cursor: pointer;

    //.menuDropDown-item-desc {
    //    font-size: 14px;
    //    font-weight: 400;
    //}
  }

  .menuDropDown-item.desc {
    font-size: 14px;
    font-weight: 400;
  }

  .menuDropDown-item:hover {
    opacity: 1;
  }
}

.dropIndex1 {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -.02em;
  text-align: left;
  color: #161a21;
  text-transform: uppercase;
  transition: all .3s ease;
  cursor: pointer;
  opacity: .4;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: opacity 0.8s;
}

.hideMenu {
  display: none;
}

.hideMenuWoman {
  display: none;
}

.showMenu {
  display: block;
}

.showMenuWoman {
  display: block;
}

.hideAccessory {
  display: none;
}

.showAccessory {
  display: block;
}

.dropIndex2 {
  color: #161a21;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: .02em;
  text-align: left;
  text-transform: uppercase;
  transition: all .3s ease;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: opacity 0.8s;
}

.dropIndex3 {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -.02em;
  text-align: left;
  color: #161a21;
  text-transform: uppercase;
  transition: all .3s ease;
  cursor: pointer;
  opacity: .4;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: opacity 0.8s;
}

.dropIndex1:hover {
  color: black;
  opacity: 1;
  transition: 0.8s;
}

.dropIndex2:hover {
  color: black;
  opacity: 1;
  transition: 0.8s;
  font-weight: bold;
}

.dropIndex3:hover {
  color: black;
  opacity: 1;
  transition: 0.8s;
}

@media screen and (min-width: 1024px) {
  .dropdown-detail {
    width: 1080px;
  }
}

@media screen and (max-width: 989px) {

  .left a {
    display: none;
  }

  .right #one {
    display: none;
  }

  .right #three {
    display: none;
  }

  .right {
    margin-right: -20px;
  }

  .nav-icon {
    font-size: 25px;
  }

  .right #two {
    display: block;
  }

  .right #four {
    display: block;
    padding-left: 10px;
  }

  .nav-icon {
    display: block;
  }

  .left button {
    display: block;
  }
}


@media screen and (max-width: 599px) {
  .left a {
    display: none;
  }

  .right #one {
    display: none;
  }

  .right #three {
    display: none;
  }

  .right {
    margin-right: -20px;
  }

  .nav-icon {
    font-size: 25px;
  }

  .right #two {
    display: block;
  }

  .right #four {
    display: block;
    padding-left: 10px;
  }

  .nav-icon {
    display: block;
  }

  .left button {
    display: block;
    margin-top: -10px;
  }

  .logo img {
    width: 60px;
    height: 40px;
    margin-left: -1em;
  }

  .left button {
    font-size: 25px;
  }

  .over-nav {
    height: 60px;
  }
}

@media screen and (max-width: 383px) {
  .right #two {
    display: block;
    padding-right: 15px;
    margin-left: -10px;
  }

  .right #four {
    display: block;
    padding-right: unset;
  }
  .logo img {
    margin-left: -1em;
  }
}
