.user-info {
  background-color: white;
  height: 100vh;
  padding: 24px;
  text-align: center;
  &-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 100px;
    font-size: 1.5rem;
  }
  &-body {
    padding-bottom: 60px;
    .col-6 {
      text-align: left;
      border-bottom: 1px solid var(--color-gray);
      padding: 16px 24px;
    }

    //.col-8 {
    //  text-align: left;
    //}
  }
  &-footer {
    margin-top: 20px;
    padding: 20px 60px;
    .row {
      padding: 8px 0;
      border-bottom: 1px solid var(--color-gray);
    }
    .col-6:last-child{
      font-weight: bold;
      text-align: right;
    }
    .payment-item {
      padding: 12px;

    }
    .payment-item.active {
      border: 1px solid var(--color-gray);
      background-color: #f2eaea;
    }

  }
  .active{
    border: 1px solid var(--color-gray);
    background-color: #f2eaea;
  }
  .pay-now {
    background: #53c66e;
    outline-color: unset;
    border: unset;
    color: white;
    padding: 12px;
  }
  .user-info-footer {
    margin: 16px;
    border: 1px solid var(--color-gray);
  }

}

.payment-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .payment-popup {
    width: 300px;
    background-color: white;
    padding: 16px;

    .payment-header {
      font-weight: bold;
      padding-bottom: 16px;
      text-align: center;
    }
    .payment-body {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
  }
}
